* {
    margin: 0;
    padding: 0;
}

#navigation {
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation > ul > li {
    list-style: none;
    margin: 0px 5px;
    padding: 15px 0px;
    margin-left: -5px;
}
#navigation > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-right: 2px solid white;
    padding: 15px 20px;
    transition: 0.5s;
}
#navigation > ul {
    display: flex;
    margin-right: 50px;
}
.logo > h2 {
    color: whitesmoke;
    margin-left: 50px;
    transform: 0.5s;
}
.cord:hover {
    
    color: orange;
    
}
.C {
    color: orange;
    font-size: 30px;
}
#navigation > ul > li:first-child > a {
    border-left: 2px solid white;
}
#navigation > ul > li:hover > a {
    background-color: orange;
}
/* dropdown code start */

.dropdown {
    background-color: royalblue;
    text-align: center;
    margin-top: 15px;
    width: 150px;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    transform:scaleY(0);
    transform-origin: top;
    box-shadow: 10px 10px 8px black;
}
.dropdown > li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 2px solid white;
}
.dropdown > li > a {
    text-decoration: none;
    color: white;
}
.dropdown >li:first-child {
    border-top: 1px solid white;
}
#navigation > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    
}
.dropdown > li:hover {
    background-color: orange;
}

/* hero area code start */
#header {
    text-align: center;
    background-image: linear-gradient(rgba(122, 39, 39, 0.123), rgba(0, 0, 0, 0.233)), url(image/bg.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.container {
    padding-top: 100px;
}

.bg {
    background-color: rgba(11, 50, 168, 0.623);
    width: 400px;
    margin:20px auto;
    font-size: 50px;
    padding: 15px 25px;
    border-radius: 10px;
    
}
.container > button {
    font-size: 22px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: rgb(240, 176, 58);
    color: whitesmoke;
    border-radius: 10px;
    border: 4px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.container > button:hover {
    background-color: black;
}
.container > h4 {
    font-size: 25px;
    color: wheat;
}
.container > h5 {
    font-size: 25px;
    color: bisque;
    margin-bottom: 50px;
}
.icon > a {
    color: white;
    text-decoration: none;
    
}
.icon > a > i{
    font-size: 30px;
    background-color: black;
    border: 2px solid teal;
    border-radius: 50%;
    padding: 5px;
    margin: 10px 5px;
    transition: 0.5s;
}
.icon > a > i:hover {
    background-color:red;
    border: 2px solid red;
    transform: rotate(360deg);
}

/* first section code start */

#main {
    display: flex;
    width: 1000px;
    margin: auto;

    justify-content: space-between;
    padding: 100px 0px;
}

.learn {
    
    width: 300px;
    text-align: center;
    transition: 0.5s;
}
.web {
    
    width: 300px;
    text-align: center;
    transition: 0.5s;
}
.free {
    
    width: 300px;
    text-align: center;
    transition: 0.5s;
}
.learn > i {
    font-size: 50px;
}
.web > i {
    font-size: 50px;
}
.free > i{
    font-size: 50px;
}
.learn > h2 {
    margin:15px 0px ;
}
.web > h2 {
    margin: 15px 0px;
}
.free > h2 {
    margin: 15px 0px;
}
.learn:hover {
    box-shadow: 3px 3px 10px gray;
}
.web:hover {
    box-shadow: 3px 3px 10px gray;
}
.free:hover {
    box-shadow: 3px 3px 10px gray;
}

/* class part-9 second section code start */

.smart-title > h2 {
    font-size: 40px;
    text-align: center;
    position: relative;
}
.smart-title > h2::after{
    content: '';
    top: 56px;
    left: 650px;
    width: 80px;
    height: 5px;
    background-color: brown;
    position: absolute;
}
.area {
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.text {
    width: 500px;
}
   .text > h2 {
margin:20px 0 ;
   }
.text > h4 {
    color: brown;
}
.text > a {
    text-decoration: none;
    background-color: brown;
    color: aliceblue;
    font-size: 20px;
    margin: 20px 0;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
}
.text > a:hover {
    background-color: black;

}
.sct {
    padding-bottom: 100px;
}

/* class p-10 third section code start */
.service {
    text-align: center;
}
.service > h2 {
    font-size:40px ;
    padding: 20px 0 60px 0;
}
.service-parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding-bottom: 60px;
}
.main-div {
    width: 1000px;
    margin: auto;
}
.service-parent {
    background-color: lightskyblue;
    text-align: center;
    padding: 30px 0;
    transition: 0.5s;
    margin-left: 0cm;
    
}
.first-c > i{
    color: brown;
    font-size: 40px;
    padding: 30px 0;

}
.first-c > h3 {
    margin: 15px 0;
}
.first-c:hover {
    background-color: rgba(100, 134, 236, 0.671);
}
#third {
    background-color: ghostwhite;
}
 
/* class p-11 4th section */

.pricing {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.ptitle {
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
}
.pimge {
    width: 310px;
    box-shadow:5px 5px 10px gray ;

} .pimge > img {
    max-width: 100%;
}
.jsp {
    width: 310px;
}
.ptitle > h2 {
    padding-bottom: 30px;
}
.pricingmp {
    width: 1000px;

    margin: auto;
    padding-bottom: 100px;
}

#sectionbg {
    background-color: whitesmoke;
}
.jsp > h3 {
    margin: 10px 0;
    font-size: 25px;
}
.monthp {
    
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 15px 0;
    margin: 15px 20px;
}
.mspan1 {
    font-size: 25px;
}
.mspan2 {
    color: gray;
}
.jsp > button {
    background-color: brown;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.jsp > button:hover {
    background-color: rgba(165, 42, 42, 0);
    color: black;
}
.jsp > a {
    text-decoration: none;
    margin: 15px 0;
    display: inline-block;
    margin-top:10px ;
}

/* p-12 testimonal section code start */

.tt {
    text-align: center;
    padding: 50px 0;
    
}
.tt h2 {
    font-size: 35px;
    margin-bottom: 10px;
    
}
.tt h4 {
    color: gray;
    letter-spacing: 0.2em;
}
.allt-p {
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 25px;
    background-color: white;
    padding: 20px;
}
.singlet-p {
    display: flex;
    align-items: center;
}
.timg {
    width: 200px;
    
    border-radius: 50%;
    margin-right: 20px;
    
}
.timg img {
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid brown;
}

.tcontainer {
    width: 1000px;

    margin: auto;
    padding-bottom:100px ;
}
#tsection {
    background-color: antiquewhite;
}
.tspan {
font-size: 22px;
margin-bottom: 10px;
display: inline-block;
}
.trating {
    color: #ffa534;
    margin-top: 10px;
}

/* parallax section cod start */

.parall-p {
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    color: white;
}

#para-sec {
    background-image:url(image/parallax.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    
}

.para-singlei i {
font-size: 40px;
}

.para-singlei h2 {
    font-size: 40px;
    margin: 20px 0;
}

/* p-13 Blog section  */
.sbp {
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 25px;
}
.blog-mp {
    width:1000px ;
    margin: auto;
    padding-bottom:100px ;
}

.blogi {
    max-width: 100%;
    height: 250px;
    transition: 0.5s;
}
.blog-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    opacity: 0;
    transition: 0.5s;
}

.image-icon {
    position: relative;
    overflow: hidden;
    
    
    
}
.image-icon:hover .blog-icon {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.096);

}

.blog-icon i {
    font-size: 40px;
    margin-bottom: 20px;
}
.image-icon:hover .blog-icon {
transform: scale(1.5);
}
.blog-test {
    text-align: center;
    margin: 10px 0;
}
.blog-test > p {
    margin-top: 10px ;
    color: gainsboro;
}